/*
    File: styles.css
    Project: Incremental clicker
    Authors: Paul, Ammaar, Aryan
    Date: 2026-02-04

    Description:
    Defines layout, positioning, and visual styling for main game elements,
    including rewards, upgrades, click area, stats panel, and UI overlays.
*/

body {
    overflow: hidden;
    user-select: none;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#rewardsArea {
    position: absolute;
    padding-top: 2vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 3%; 
    height: 100vh;
    width: 20%;
    align-items: center;
    justify-content: center;
}

.reward {
    width: 80px;
    border-radius: 15px;
    opacity: 60%;
    transition: all;
}

.reward:hover {
    opacity: 100%;
    scale: 105%;
    transition-duration: 200ms;
}

#secretRewardArea {
    position: absolute;
    top: 0;
    left: 20%;
    display: flex;
    flex-direction: column;
    gap: 15%; 
    height: 100vh;
    width: 10%;
    justify-content: center;
    visibility: hidden;
}

.secretReward {
    width: 100px; 
    height: 100px; 
}

#upgradeArea {
    position: absolute;
    top: 0;
    right: -30%;
    height: 100vh;
    width: 30%;
    background-color: rgb(255, 0, 0);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    z-index: 5;
}

#Upage1, #Upage2 {
    margin-top: 5vh;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 3vh; 
    width: 100%;
    align-items: center;
    background-color: rgb(21, 255, 0);
    overflow: hidden;
    padding: 5vh 0 5vh 0;
}

.upgrade {
    height: 12vh;
    width: 90%;
    background-color: rgb(69, 69, 255);
    transition: transform 0.5s ease-in-out;
    display: flex;
    align-items: center;
    gap: 6%;
}

.upgradeButton {
    height: 8vh;
    width: 8vh;
    background-color: yellow;
    margin-top: 2vh;
    margin-left: 2vh;
}

.upgradeImages {
    height: 10vh;
    width: 10vh;
}

h3 {
    font-size: 3vh;
}

.infoPanel {
    display: none;
    position: absolute;
    background-color: red;
    z-index: 8;
    padding: 1%;
}

#displayedNumber {
    position: absolute;
    align-self: center;
    justify-self: center;
    font-size: 40vh;
    background: linear-gradient(0deg, #77777711, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
    top: -20vh;
    user-select: none;
}

#displayedUnits {
    position: absolute;
    align-self: center;
    justify-self: center;
    font-size: 30vh;
    background: linear-gradient(0deg,  #00000010,#b3b3b38f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
    bottom: -10vh;
    user-select: none;
}

#updateStatArea {
    position: absolute;
    width: 5%;
    height: 5%;
    left: 47.5%;
    top: 2.5%;
    z-index: 10;
}
#statArea {
    background-color: red;
    height: 60%;
    width: 60%;
    left: 20%;
    top: 20%;
    position: absolute;
    z-index: 10;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

#clickArea {
    height: 80%;
    width: 30%;
    border: solid 6px rgba(255, 166, 166, 0.507);
    border-radius: 5vh;
    position: absolute;
    justify-self: center;
}

.screenCover {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.699);
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}

#devPanel {
    background-color: rgb(0, 0, 0);
    height: 60%;
    width: 60%;
    left: 20%;
    top: 20%;
    position: absolute;
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

#helpPanel {
    background-color: rgb(0, 0, 0);
    height: 60%;
    width: 60%;
    left: 20%;
    top: 20%;
    position: absolute;
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

#helpPanel p{
    color: white;
}

#helpPanel h1 {
    color: white;
}

.devPanelButton {
    height: 15%;
    width: 50%;
    margin: 3%;
}

#notificationArea {
    position: absolute;
    bottom: 2%;
    height: auto;
    background-color: red;
    width: 20%;
    left: 40%;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 2%;
    flex-direction: column;
}

.notifications {
    height: 16%;
    background-color: blue;
    width: 90%;
    transition: all 0.5s ease-out;
}

.notifications h2 {
    text-align: center;
}
